<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Email</title>
</head>
<body>
<div class="main-container">
    <div class="container">
        <div class="header">
            <img src="{{ base_uri }}{% static 'img/auriga-one.png' %}" alt="auriga_logo">
        </div>
        <div class="content">
            This is a test email
        </div>
        <div class="footer">
            <p>Thanks</p>
        </div>
    </div>
</div>
</body>
</html>